* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family: 'Cute Font', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE6E6;
    background-size: cover;
    font-size: 24px;
    color: #464646;
}

.container {
    border: 2px solid #FF5675;
    border-radius: 5px;
    width: 60%;
    margin: 30px 30px;
    padding: 40px;
}

.profile_img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    overflow: hidden;
}

.profile {
    width: 70px;
    height: 50px;
}

.posting_title {
    margin-bottom: 15px;
    font-size: 40px;
    color: #FF5675;
}

.con {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
    justify-content: space-between;
}

.info { display: flex;}

.profile_info #pro_name {display: block;}

#hits {margin-right: 15px; }

#corre_delete {
    justify-content: flex-end;
    padding-top: 34px;
}

#corre, #delete {
    font-family: 'Cute Font', cursive;
    font-size: 20px;
    padding: 0px 5px;
    background: #ffffff;
    color: #FF5675;
    border: 2px solid #FF5675;
    border-radius: 5px;

}

#corre {padding: 0px 7px;}

.text {
    background: #ffffff;
    height: 50%;
    margin-bottom: 30px;
    padding: 10px;
}

.comments .comments_icon {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
}

.reply {
    background: #ffffff;
    padding: 10px;
}

.reply_1 {
    padding: 10px;
    display: flex;
    border-bottom: 1px dashed #c9c9c9;
}

#com_name {
    display: block;
}

#reply_but {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background: #ffffff;
    color: #FF5675;
    border: 2px solid #FF5675;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Cute Font", cursive;
    font-size: 22px;
}

#pre, #next {text-decoration: none; color: #464646;}

ul, li {list-style: none; }

.previous {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
}

.li1 {
    width: 100px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: 8px;
    color: #999999;
}

.list {margin-top: 50px; border-top: 1px solid #c9c9c9;}

.reply {
    display: flex;
    /*border-bottom: 1px solid #c9c9c9;*/
}

#time {font-size: 18px; color: #999999;}

#content {display: block;}

.reply_info {margin-left: 5px;}

#pre:hover, #next:hover {color: red;}

#reply_but:active {background: #ad3c51;}
a{
    text-decoration: none;
}